#sticky-section {
    position: sticky;
    top: 0px;
    z-index: 999;
}

.navbar {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0.8em;
    z-index: 999;
    background: rgba(6, 6, 6, .7);
}

img.responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.navbar .navbar-items {
    display: flex;
}

.navbar .navbar-items a {
    display: inline-block;
    padding: 15px 15px;
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar .logo-box {
    display: flex;
}

.navbar .logo-box > span {
    margin-left: 0.4em;
    align-self: center;
    font-size: 26px;
}

.all {
    margin-top: 1.5em;
    padding: 0.8em;

}

.top, .first, .second {
    display: flex;
    padding: 1.5rem 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: nowrap;
 }
 
 .top {
     flex-direction: column-reverse;
     flex-wrap: nowrap;

     img {
        min-width: 225px;    
    &:hover{
        transform:scale(1.2);
        -ms-transform:scale(1.2); // IE 9 
        -moz-transform:scale(1.2); // Firefox 
        -webkit-transform:scale(1.2); // Safari and Chrome 
        -o-transform:scale(1.2); // Opera
        }  
    }
}


.first, .second {
    img {
        min-width: 250px;;
    &:hover{
        -webkit-transform:scale(1.25);
        -moz-transform:scale(1.25);
        -ms-transform:scale(1.25);
        -o-transform:scale(1.25);
        transform:scale(1.25);
        }  
    }
}

.item {
    flex-grow: 1;
    padding-top: 1rem;
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
}

.top-item:nth-child(-n + 2) {
    display: none;
}


@media (min-width: 700px) {
    .top, .first, .second {
        display: flex;
    }

    .top, .first, .second {
        flex-direction: row-reverse;
    }

    .top-item, .item {
        flex-basis: calc(33% - 1rem);
        padding-right: .5rem;
        padding-left: .5rem;
    }

    .top-item {
        max-width: calc(33% - 1rem);
        
    }
}

@media (min-width: 1280px) {
    .platform-title {
        display: block;
        align-self: center;
        flex-basis: 60%;
        padding-left: 1rem;
    }

    .item {
        flex-basis: unset;
    }

    .top-item:nth-child(-n + 2) {
        display: block;
    }
}

@media only screen and (max-width: 480px){
    .navbar .logo-box > span {
        display: none;
    }
}